{% set teams = teams %} {# required #} {# array of objects #}

<div class="members-table__teams">
    {% for team in teams %}

        {% if team.type is same as("Non Affecté") %}
            <div class="member-teams member-teams--unaffected">
                <span class="mb-1">{{ team.team }} - {{ team.type }}</span>
            </div>
            <button class="button button--with-icon">
                <img src="{{ asset('build/images/icons/transfert.svg')}}" alt=""/>
                Affecter à une équipe
            </button>

        {% else %}
            <div class="member-teams">
                <span class="
                    member-teams__type
                    {{- team.type is same as('Staff') ?
                        " member-teams__type--highlighted"
                    -}}
                ">
                    {{ team.type }}
                </span>
                {{ team.team }}
            </div>
        {% endif %}

    {% endfor %}
</div>